@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 500;
}

::selection {
  background-color: black;
  color: white;
}

@media (max-width: 785px) {
  ::selection {
    background-color: white;
    color: black;
  }
}

.markdown {
  @apply leading-relaxed;
}
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown img {
  @apply my-6;
}
.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}
.markdown h3,
.markdown h4 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}
.markdown ul {
  @apply list-disc pl-6;
}
.markdown ol {
  @apply list-decimal pl-6;
}
.markdown li {
  @apply my-2;
}
.markdown li p {
  @apply my-2;
}
.markdown a {
  @apply underline hover:bg-black hover:text-white;
}
.markdown strong {
  @apply font-[500];
}
.markdown img {
  @apply mx-auto;
}
